In [9]:
#Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
def lesser(a,b):
    if a%2 == 0 and b%2 == 0:
        result = min(a,b)
    else:
        result = max(a,b)
    
    return result

In [3]:
lesser(2,4)

2

In [4]:
lesser(2,5)

5

In [5]:



#Write a function takes a two-word string and returns True if both words begin with same letter
def animal(text):
    word = text.split()
    
    first = word[0]
    second = word[1]
    
    return first[0] == second[0]

In [8]:
animal('El Gato')

False

In [21]:
animal('Pradnya Perez')

True

In [22]:




#Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
def zwanzig(a,b):
    if a==20 or b ==20 or a+b == 20:
        return True
    else:
        return False

In [13]:
zwanzig(20,1)

True

In [14]:
zwanzig(20321,20)

True

In [15]:
zwanzig(19,1)

True

In [16]:
zwanzig(20,12)

True

In [17]:
zwanzig(20321,12332)

False

In [18]:
zwanzig(10,10)

True

In [24]:




#Write a function that capitalizes the first and fourth letters of a name---- USING .UPPER-- capitalizes whole string
def text(name):
    first = name[0]
    between = name[1:3]
    fourth = name[3]
    rest = name[4:]
    return first.upper() + between + fourth.upper() + rest

In [25]:
text('woterlemon')

'WotErlemon'

In [ ]:


#Write a function that capitalizes the first and fourth letters of a name---- USING .CAPITALIZE -capitalizes only the first letter of a string

In [20]:
def text(name):
    p1 = name[:3]
    p2 = name[3:]
    return p1.capitalize + p2.capitalize

In [26]:
text('woterlemon')

'WotErlemon'

In [37]:



# Given a sentence, return a sentence with the words reversed
def yoda(text):
    word = text.split()
    reversetext = word[::-1]
    return ' '.join(reversetext)

In [38]:
yoda('Hello There')

'There Hello'

In [39]:
yoda('I am in your wall')

'wall your in am I'

In [43]:



#Given an integer n, return True if n is within 10 of either 100 or 200
def near(num):
    if abs(100-num) <= 10 or abs(200-num) <= 10:
        return True
    else:
        return False

In [44]:
near(150)

False

In [45]:
near(191)

True

In [46]:
near(92)

True

In [53]:
near(400)

True

In [49]:
def near(num):
    if 100-num <= 10 or 200-num <= 10:
        return True
    else:
        return False

In [50]:
near(45)

False

In [51]:
near(95)

True

In [52]:
near(400)

True

In [12]:


#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
def has33(num):
    for i in range(0,len(num)-1):#take -1 as we need consecutive numbers
        if num[i] == 3 and num[i+1] == 3:
            return True
    return False

In [13]:
has33([1,3,3])

True

In [14]:
has33([1,3,1,3])

False

In [16]:
has33([1,2,3,4,5,3,3])

True

In [17]:


#Given a string, return a string where for every character in the original there are three characters
#paper_doll('Hello') --> 'HHHeeellllllooo'
#paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

def x(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [18]:
x('hello')

'hhheeellllllooo'

In [19]:
x('cat')

'cccaaattt'

In [20]:



#Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def x(a,b,c):
    if a + b + c <= 21:
        return a+b+c
    elif 11 in [a,b,c] and a+b+c>21:
        return (a+b+c)-10
    else:
        return 'BUST'

In [21]:
x(5,6,7)

18

In [22]:
x(9,9,9)

'BUST'

In [23]:
x(9,9,11)

19

In [25]:


#Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers
def nos(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!=6:
                total += num
                break
            else:
                add = False
        while not add:
            if num !=9:
                break
            else:
                add = True
                break
    return total

In [26]:
nos([4, 5, 6, 7, 8, 9])

9

In [27]:
nos([2, 1, 6, 9, 11])

14

In [ ]:



#Write a function that takes in a list of integers and returns True if it contains 007 in order

def x(nos):
    for i in range()